/* *********************Main Styles *********************** */
.container {
  padding: 0 2rem;
  height: 100vh;
  overflow-y: scroll;
}

.mainContainer {
  /* min-height: 100vh; */
  display: flex;
}
/* ********************** Main Styles End ***************** */

/* ********** Header Comp styles start ****************** */

.header {
  display: flex;
  flex-direction: column;
}

.topHeader,
.middleHeader,
.bottomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.humburgerSearch {
  display: flex;
}

.subscribeLogin {
  display: flex;
}

.title {
  font-size: 4rem;
  font-weight: 500;
}
.middleHeader {
}
.humbergerMenu {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.searchIcon {
  transform: scaleX(-1);
}
.headerButton {
  background-color: #567b95;
  width: 7rem;
  margin: 1rem 0 1rem 0.5rem;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.headerButton:hover {
  transform: scale(1.03);
}
.bottomHeader {
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 2px 0 1px white, 0 3px 0 1px rgba(0, 0, 0, 1);
  margin-bottom: 1.5rem;
}
.bottomHeader ul {
  display: flex;
}
.bottomHeader ul li {
  font-size: 11px;
  padding: 0 0.7rem;
  list-style-type: none;
}

/* *************** Header Comp Styles End ****************** */

/* ************** Headline Comp Styles Start ********************/
.sectionSplit {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.articleContainer {
  width: 35%;
  padding: 0 2rem 0 0;
}

.articleImg {
  width: 65%;
  padding-right: 1rem;
  float: right;
}

.articleTitle {
  font-size: 22px;
  font-weight: 700;
}

.secondaryArticle {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
}

.secondaryTitle {
  font-size: 14px;
  font-weight: 700;
}

.articleText {
  font-size: 14px;
  margin: 6px 0 0;
}

.mainContent {
  width: 70%;
}
/* ******************* Headline Comp Styles End *********************** */

/* ********************* Second Section Comp Styles Start **************** */
.secondSection {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  justify-content: space-between;
}
.secondSectionArticleOne,
.secondSectionArticleTwo {
  width: 30%;
  font-size: 14px;
}
.secondSectionArticleTwo {
}
.secondSectionArticleImage {
  height: auto;
  width: 40%;
  padding: 0 1rem;
  margin: 0 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
/* ********************* Second Section Comp Styles End ******************** */

/* *************** NewsPiece Comp Styles Start ************ */
.newsPiece {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.newsPieceArticle {
  font-size: 14px;
  width: 30%;
  margin-right: 1rem;
}
.newsPieceArticle h4 {
  font-weight: 700;
  font-size: 24px;
}
.newsPieceImage {
  display: flex;
  max-width: 70%;
}
/* *************** NewsPiece Comp Styles End ************** */

/* *****************  Aside Comp Styles Start ******************** */
.asideComponent {
  width: 30%;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 2rem;
  margin-left: 1rem;
}

.asideHeading {
  font-size: 24px;
}

.gettyText {
  font-size: 0.6rem;
  text-align: right;
}
/* **************** Aside Comp Styles End ******************* */

@media (max-width: 1200px) {
  .asideComponent {
    width: 0;
    display: none;
  }

  .mainContent {
    width: 100%;
  }

  .articleContainer {
    width: 35%;
  }

  .articleImg {
    width: 65%;
    padding-right: 0;
    float: none;
  }
}
@media (max-width: 757px) {
  .bottomHeader {
    display: none;
  }
  .middleHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
  }
  .sectionSplit {
    flex-direction: column;
  }
  .articleContainer {
    width: 100%;
  }
  .articleImg {
    width: 100%;
  }
  .secondSection {
    display: none;
  }
  .newsPiece {
    flex-direction: column;
  }
  .newsPieceImage {
    align-items: center;
    max-width: 100%;
  }
  .newsPieceArticle {
    padding-top: 1rem;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  /* .logo img {
    filter: invert(1);
  } */
}
