.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  display: flex;
}

/* ********** Header styles start ****************** */

.header {
  display: flex;
  flex-direction: column;
}

.topHeader,
.middleHeader,
.bottomHeader {
  display: flex;
  justify-content: space-between;
}

.humburgerSearch {
  display: flex;
}

.subscribeLogin {
  display: flex;
}

.bottomHeader ul {
  display: flex;
}

/* *************** Header Styles End ****************** */

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  /* .logo img {
    filter: invert(1);
  } */
}
